body {
    margin: 0;
    background-color: #f2f2f2;
    min-width: 600px;
}

p {
    font-size: 14;
}

#headerBar {
    background-color: white;
    height: 50px;
    box-shadow: 0 3px 3px #888;
}

#siteName {
    float: left;
    margin-top: 5px;
}

#nav {
    float: right;
    margin-top: 12px;
}

#nav td {
    padding-left: 10px;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    border-bottom: 2px solid;
    border-color: red;
}

.panel {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 10px #888;
}

.content {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#productContent {
    max-width: 70em
}

.productImage {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.productPrice {
    text-align: center;
    float: right;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 20em;
}

.productEntry {
    display: flex;
    padding-top: 5;
    padding-bottom: 5;
    margin-bottom: 15px;
}

.productDescription {
    margin-top: 5px;
    margin-bottom: 10px;
}

.verticalCenter {
    margin-top: auto;
    margin-bottom: auto;
}

.productItem {
    padding-right: 10px;
}

.productName {
    margin-top: 10px
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: dark-grey;
    text-decoration: underline;
}

h1, h2, h3, h4, b {
    font-weight: 500;
}

#loginPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-top: -175px;
    margin-left: -200px;
}

#loginForm {
    font-size: 14;
    width: 250px;
    margin: auto;
}

.loginFormInput {
    width: 250px;
    margin-bottom: 10px;
}

#loginFormButton {
    width: 70px;
    margin-left: 90
}

#badLogin {
    text-align: center;
    color: red;
    font-weight: 300;
    font-style: italic;
    font-size: 14;
}

.product {
    width: 20px;
    text-align: center;
}

#search {
    float: left;
    position: relative;
    top: -2;
}

#searchButton {
    height: 20px;
    position: relative;
    top: 5px;
}

#loginStatus {
    margin: 0;
}
