%rebase('main.tpl')
<div class='content'  id='productContent'>
    %#for order in orders:
        <div class = 'productEntry panel'>
          <div style="padding-left:20px">
              <table>
                  <tr>
                      <th>Order No.</th>
                      <th>Date</th>
                      <th>price</th>
                  </tr>
                  <tr>
                      <td>1234</td>
                      <td>1/01/0001</td>
                      <td>$99.99</td>
                  </tr>
              </table>
          </div>
        </div>
    %end
</div>
